# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
Thumbs.db
.DS_Store

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/

# Logs
*.log